<div class="button-container">
  <button mat-raised-button class="button-std" (click)="addNewTask()">Dodaj nowe zadanie</button>
</div>
<div class="container">
  <div class="drag-container">
    <h2>Do zrobienia</h2>

    <div class="sort-buttons">
      <button mat-button (click)="sort('open', 'priority')">Priorytet
        <mat-icon>arrow_drop_up</mat-icon>
      </button>
      <button mat-button (click)="sort('open', 'date')">Data
        <mat-icon>arrow_drop_up</mat-icon>
      </button>
    </div>

    <div cdkDropList #openList="cdkDropList" [cdkDropListData]="open"
         [cdkDropListConnectedTo]="[inProgressList,doneList]" [id]="firstListId"
         class="item-list" (cdkDropListDropped)="drop($event)">
      <div class="item-box" *ngFor="let item of open" cdkDrag>
        <div class="title-section">
          <button mat-icon-button color="basic" class="edit-button" (click)="editTodo(item)">
            <mat-icon [inline]="true">edit</mat-icon>
          </button>
          <p>{{item.name}}</p>
        </div>
        <div class="details-section">
          <p>
            <fa-icon [icon]="getIcon(item)" [ngStyle]="{color: getIconColor(item)} "></fa-icon>
            {{item.priority}}</p>
          <p>
            <fa-icon [icon]="clock"></fa-icon>
            {{item.deadline == undefined ? '--/--/--' : item.deadline | date: 'dd.MM.yyyy'}}</p>
        </div>
        <div *ngIf="item.description.length !=0">
          <mat-divider></mat-divider>
          <p>Opis: {{item.description}}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="drag-container">
    <h2>W toku</h2>

    <div class="sort-buttons">
      <button mat-button (click)="sort('inProgress', 'priority')">Priorytet
        <mat-icon>arrow_drop_up</mat-icon>
      </button>
      <button mat-button (click)="sort('inProgress', 'date')">Data
        <mat-icon>arrow_drop_up</mat-icon>
      </button>
    </div>

    <div cdkDropList #inProgressList="cdkDropList" [cdkDropListData]="inProgress"
         [cdkDropListConnectedTo]="[openList,doneList]" [id]="secondListId"
         class="item-list" (cdkDropListDropped)="drop($event)">
      <div class="item-box" *ngFor="let item of inProgress" cdkDrag>
        <div class="title-section">
          <button mat-icon-button color="basic" class="edit-button" (click)="editTodo(item)">
            <mat-icon [inline]="true">edit</mat-icon>
          </button>
          <p>{{item.name}}</p>
        </div>
        <div class="details-section">
          <p>
            <fa-icon [icon]="getIcon(item)" [ngStyle]="{color: getIconColor(item)} "></fa-icon>
            {{item.priority}}</p>
          <p>
            <fa-icon [icon]="clock"></fa-icon>
            {{item.deadline == undefined ? '--/--/--' : item.deadline | date: 'dd.MM.yyyy'}}</p>
        </div>
        <div *ngIf="item.description.length !=0">
          <mat-divider></mat-divider>
          <p>Opis: {{item.description}}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="drag-container">
    <h2>Gotowe</h2>

    <div class="sort-buttons">
      <button mat-button (click)="sort('done', 'priority')">Priorytet
        <mat-icon>arrow_drop_up</mat-icon>
      </button>
      <button mat-button (click)="sort('done', 'date')">Data
        <mat-icon>arrow_drop_up</mat-icon>
      </button>
    </div>

    <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="done"
         [cdkDropListConnectedTo]="[inProgressList,openList]" [id]="thirdListId"
         class="item-list" (cdkDropListDropped)="drop($event)">
      <div class="item-box" *ngFor="let item of done" cdkDrag>
        <div class="title-section">
          <button mat-icon-button color="basic" class="edit-button" (click)="editTodo(item)">
            <mat-icon [inline]="true">edit</mat-icon>
          </button>
          <p>{{item.name}}</p>
        </div>
        <div class="details-section">
          <p>
            <fa-icon [icon]="getIcon(item)" [ngStyle]="{color: getIconColor(item)} "></fa-icon>
            {{item.priority}}</p>
          <p>
            <fa-icon [icon]="clock"></fa-icon>
            {{item.deadline == undefined ? '--/--/--' : item.deadline | date: 'dd.MM.yyyy'}}</p>
        </div>
        <div *ngIf="item.description.length !=0">
          <mat-divider></mat-divider>
          <p>Opis: {{item.description}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
